<!-- Home Page
==========================================-->
<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <br><br>
            <h1>Votre smartphone <strong><span class="color">chouchouté</span></strong> pour 13€/mois !</h1>
            <p class="lead">Nous prenons soin de votre smartphone comme jamais personne avant nous !</p>
            <a href="#" class="btn btn-primary">REJOINDRE LE CLUB</a><br><br>
            <em style="color:#FFFFFF;">Sans engagement - Résiliable à tout moment</em>
        </div>
    </div>
</div>

<!-- Le Club Section
==========================================-->
<div id="tf-services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Le club <strong>Switchiz</strong></h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
            <p class="intro">Switchiz est un club par abonnement vous permettant de prendre soin de votre smartphone.<br>Pour<strong> seulement 13,90€</strong> par mois, nous nous occupons de votre smartphone en toute circonstance !</p>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-2 service">
            </div>

            <div class="col-md-4 service">
                <i class="fa fa-mobile"></i>
                <h4><strong>Réparations Gratuites</strong></h4>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>

            <div class="col-md-4 service">
                <i class="fa fa-gift"></i>
                <h4><strong>Box découverte chaque mois</strong></h4>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>

            <div class="col-md-2 service">
            </div>
        </div>
    </div>
</div>

<!-- Team Page
==========================================-->
<div id="tf-team">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>Des réparations dès que besoin</h4>
                            <h2>On s'occupe de tout !</h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro"><strong>Un écran cassé ? Un bouton défectueux ?</strong> <br><br>Lorsque vous êtes membre du club, au moindre petit soucis avec votre smartphone, nos switchers réparent votre smartphone en 20 mintutes directement à domicile ou au bureau !</p>
                         <br><h4>Tout ça, gratuitement !</h4>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="about-list">
                        <br><br><br>
                            <li>
                                <span class="fa fa-check"></span>
                                <strong>Réparations gratuites</strong> - <em>Ne vous ruinez plus</em>
                            </li><br>
                            <li>
                                <span class="fa fa-check"></span>
                                <strong>Réparations à domicile</strong> - <em>Ne vous séparez plus de votre smartphone</em>
                            </li><br>
                            <li>
                                <span class="fa fa-check"></span>
                                <strong>Réparations en 20 minutes</strong> - <em>Ne perdez plus de temps</em>
                            </li><br>
                            <li>
                                <span class="fa fa-check"></span>
                                <strong>Réparations 7j/7</strong> - <em>Ne restez pas déconnecté</em>
                            </li><br>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Us Page
==========================================-->
<div id="tf-about" style="color:#FFFFFF; background-color:#52a7bf;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%= image_tag "bg-switchiz.jpg", :class => "img-responsive" %>
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <div class="section-title">
                        <h4>Une box par mois</h4>
                        <h2>Pour entretenir et découvrir</h2>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <p class="intro">We love building and rebuilding brands through our  specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.</p>
                    <ul class="about-list">
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Des objets connectés</strong> - <em>We deliver uniqueness and quality</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Skills</strong> - <em>Delivering fast and excellent results</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Clients</strong> - <em>Satisfied clients thanks to our experience</em>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section
==========================================-->
<div id="tf-services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Comment ça marche ?</h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-desktop"></i>
                <h4><strong>Rejoignez le club</strong></h4>
                <p>Abonnez vous à Switchiz dès maintenant</p>
            </div>
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-mobile"></i>
                <h4><strong>Appelez un Switcher</strong></h4>
                <p>Au moindre soucis sur votre smartphone, un switcher vient vous redonner le sourire </p>
            </div>
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-gift"></i>
                <h4><strong>Découvrez vos box</strong></h4>
                <p>Tous les mois, nous vous envoyons une box surprise</p>
            </div>
            <div class="col-md-3 col-sm-6 service">
                <i class="fa fa-smile-o"></i>
                <h4><strong>Souriez</strong></h4>
                <p>On s'occupe de tout pour que vous gardiez le sourire</p>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials Section
==========================================-->
<div id="tf-testimonials" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2><strong>Switchiz n'est pas <br><br> une assurance !</strong></h2>
                <div class="line">
                    <hr>
                </div>
            </div>
            <h3>C'est bien plus que ça !</h3>
        </div>
    </div>
</div>

<!-- Le Club Section
==========================================-->
<div id="tf-services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Switchiz c'est</h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
            <h2>13€/mois</h2>
            <em>Résilisable à tout moment<br>14 jours pour changer d'avis</em><br><br>
            <p>Réparations gratuites<br>Box surprise tous les mois<br>Assistance 7j/7<br>Avantages partenaires Switchiz</p><br>
            <a href="#" class="btn btn-primary">REJOINDRE LE CLUB</a><br><br>
        </div>
        <hr>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-4 service">
                <span class="fa fa-truck fa-2x"></span>
                <h4><strong>Livraison Suivie</strong></h4>
                <p>Nous sélectionnons les meilleurs partenaires afin de vous donnez le sourire tous les mois.</p>
            </div>

            <div class="col-md-4 service">
                <span class="fa fa-lock fa-2x"></span>
                <h4><strong>Paiement sécurisé</strong></h4>
                <p>Notre site ainsi que toutes nos transactions sont sécurisées.</p>
            </div>

            <div class="col-md-4 service">
                <span class="fa fa-headphones fa-2x"></span>
                <h4><strong>Assistance 7j/7</strong></h4>
                <p>Nous sommes à votre écoute tous les jours pour répondre à toutes vos questions.</p>
            </div>
        </div>
    </div>
</div>


<!-- Include all compiled plugins (below), or include individual files as needed -->
  <%= javascript_include_tag "SmoothScroll" %>
  <%= javascript_include_tag "jquery.isotope" %>
  <%= javascript_include_tag "owl.carousel" %>

<!-- Javascripts
================================================== -->
<%= javascript_include_tag "main" %>