<%= form_for(@profil) do |f| %>
  <% if @profil.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <h2><%= pluralize(@profil.errors.count, "error") %> prohibited this profil from being saved:</h2>

      <ul>
      <% @profil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12">
    <div class="col-md-4">
      <div class="col-md-12 panel panel-default">
        <div class="text-center">
          <br>
          <%= image_tag @smartphone.image.url(:medium) %><br>
        </div>
        <h4>Votre abonnement Switchiz :</h4>
        <i class="fa fa-check" aria-hidden="true"></i> Réparations gratuites<br>
        <i class="fa fa-check" aria-hidden="true"></i> Assistance 7j/7<br>
        <i class="fa fa-check" aria-hidden="true"></i> Box Switchiz chaque mois<br>
        <i class="fa fa-check" aria-hidden="true"></i> Sans engagement<br>
        <h3>9,99€/mois</h3>
      </div>
    </div>



    <div class="col-md-8">
      <div class="col-md-12">
        <div class="col-md-4 text-center">
          <i class="fa fa-lock fa-2x" aria-hidden="true"></i><br>
          <h4>Paiement sécurisé</h4>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa fa-undo fa-2x" aria-hidden="true"></i><br>
          <h4>14 jours pour changer d'avis</h4>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i><br>
          <h4>Livraison offerte</h4>
        </div>
      </div><br>

      <div class="form-group">
        <%= f.label "Prénom*" %><br>
        <%= f.text_field :prenom, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label "Nom*" %><br>
        <%= f.text_field :nom, class: "form-control", required: true %>
      </div>

      <div id="stripe_error" class="alert alert-danger" style="display:none">
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <%= label_tag :card_number, "Numéro de carte banquaire" %>
            <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number", class: "card-number form-control" } %>
          </div>
          <div class="col-md-4">
            <%= label_tag :card_code, "CVC" %>
            <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc", class: "form-control card-cvc" } %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag nil, "Date d'expiration" %>
        <div class="row">
          <div class="col-md-3">
            <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month", class: "card-expiry-month form-control" } %>
          </div>
          <div class="col-md-3">
            <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+10 }, { :name => nil, :'data-stripe' => "exp-year", class: "card-expiry-year form-control" } %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "REJOINDRE LE CLUB", class: "btn btn-primary btn-block", data: { no_turbolink: true }%>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function getmodele(idmodele) {
      document.getElementById('profil_modele').value = idmodele;
      $("a#dropdown_text").text("Modifier");
      return false;
  }
</script>
