<%= form_for(@profil) do |f| %>
  <% if @profil.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <h2><%= pluralize(@profil.errors.count, "error") %> prohibited this profil from being saved:</h2>

      <ul>
      <% @profil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12">
    <div class="col-md-4">
      <h3>Récapitulatif</h3>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :smartphone_id %><br>
        <%= f.hidden_field :smartphone_id, :id => 'profil_modele' %>
        <div class="col-md-12 dropdown">
          <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdown_text">
              Sélectionnez votre smartphone
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% Smartphone.where(marque: 'Apple').to_a.each do |smartphone| %>
              <li><a href="" onClick="return getmodele(<%= smartphone.id %>);"><%= smartphone.modele %></a></li>
            <% end %>
            <li class="divider"></li>
            <li><a href="" onClick="">Autre</a></li>
          </ul>
        </div>
      </div><br>
      <div class="form-group">
        <%= f.label "Prénom*" %><br>
        <%= f.text_field :prenom, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label "Nom*" %><br>
        <%= f.text_field :nom, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number", class: "card-number form-control" } %>
          </div>
          <div class="col-md-4">
            <%= label_tag :card_code, "CVC" %>
            <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc", class: "form-control card-cvc" } %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag nil, "Expiration Date" %>
        <div class="row">
          <div class="col-md-3">
            <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month", class: "card-expiry-month form-control" } %>
          </div>
          <div class="col-md-3">
            <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+10 }, { :name => nil, :'data-stripe' => "exp-year", class: "card-expiry-year form-control" } %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "GOOO", class: "btn btn-primary", data: { no_turbolink: true }%>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function getmodele(idmodele) {
      document.getElementById('profil_modele').value = idmodele;
      $("a#dropdown_text").text("Modifier");
      return false;
  }
</script>
