<%= form_for(@prelaunch) do |f| %>
  <% if @prelaunch.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>Votre email n'est pas valide</h4>
    </div>
  <% end %>
  <%= f.hidden_field :ref, :value => @ref %>
  <%= f.hidden_field :commentaire, :value => @n %>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group col-md-7">
      <%= f.text_field :email, class: "form-control champ", placeholder: "Entre ton email", required: true %>
    </div>
    <div class="actions col-md-5">
      <%= f.submit "Rejoindre l'aventure !", class: "btn btn-primary btn-block" %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert" style="color:red;"><%= alert %></p>
  </div>
  <div class="col-md-3"></div>
<% end %>
