<h1>Listing prelaunches</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Commentaire</th>
      <th>Count</th>
      <th>Code</th>
      <th>Ref</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prelaunches.each do |prelaunch| %>
      <tr>
        <td><%= prelaunch.email %></td>
        <td><%= prelaunch.commentaire %></td>
        <td><%= prelaunch.count %></td>
        <td><%= prelaunch.code %></td>
        <td><%= prelaunch.ref %></td>
        <td><%= link_to 'Show', prelaunch %></td>
        <td><%= link_to 'Edit', edit_prelaunch_path(prelaunch) %></td>
        <td><%= link_to 'Destroy', prelaunch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prelaunch', new_prelaunch_path %>
