<!-- Header -->
<header id="" class="header-landing">
    <div class="container text-center">
    	<div class="container text-center">
    		<%= image_tag "logo.png", :class => "logo-prelaunch", :size => "175x123" %>
		</div>
    	<div class="header-landing-text">
    		<% if @n.blank? %>
    			<% if @inv.blank? %>
    				<h1 class="header-first-text">L'aventure Switchiz commence bientôt</h1>
    			<% else %>
                    <% if @comment.blank? %>
                        <h1 class="header-first-text">L'aventure Switchiz commence bientôt</h1>
                    <% else %>
    				    <h1 class="header-first-text"><%= @comment %> t'invite à découvrir Switchiz</h1>
                    <% end %>
    			<% end %>
    		<% else %>
    			<h1 class="header-first-text">Hello <%= @n %></h1>
    		<% end %>
    		
			<h2 class="header-next-text">Prépare-Toi à Sourire 7 Fois Plus Qu'avant !</h2>
    	</div>
	</div>
</header>

<section class="section-landing">
	<h3><i class="fa fa-lock fa-1x" aria-hidden="true"></i><br>Ton smartphone sera bientôt entre de bonnes mains ;) <br> Fait partie des premiers au courant ! </h3>
	<%= render 'form' %>

	<div class="col-md-12 text-center prelaunch-footer">
		<p><a href="mailto:gwenael@switchiz.co">gwenael@switchiz.co</a></p>
	</div>
</section>

<%= render 'modalone' %>
<script type="text/javascript">
	
	mixpanel.track("Prelaunch homepage");

	function addEvent(obj, evt, fn) {
    if (obj.addEventListener) {
        obj.addEventListener(evt, fn, false);
    }
    else if (obj.attachEvent) {
        obj.attachEvent("on" + evt, fn);
    }
}

addEvent(document, 'mouseout', function(evt) {
    if (evt.toElement == null && evt.relatedTarget == null) {
        $('#myModal').modal('show');
    }
});

	function funct() {
    	if ($('.email').is('email') == 1) {
    		alert("Yoyyiyi");
    	};
	}
</script>